.faith-img-section > img{
    vertical-align: middle;
    display: inline-block;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.faith-content{
    padding-top: 30px;
}
.content-icon{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.faith-icon img {
    /* width: 80px; */
    height: 60px;
}
.faith-content-box h4 {
   font-size: 25px;
   font-weight: 500;
   font-family: var(--font-family);
}
.faith-content-box p{
    margin-top: 10px;
    font-size: 15px;
}
.row-margin{
    /* margin-top: 100px; */
}
.faith{
    align-items: start !important;
    display: flex;
    justify-content: start;
    flex-direction: column;
}


@media (max-width: 768px) {
    .res-margin{
        margin-top: 10px;
    }
    .faith-icon img {
        /* width: 80px; */
        height: 40px;
    }
    .content-icon{
         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06) !important; 
         /* border: 1px solid; */
         padding: 0 15px;
         /* display: flex; */
         justify-content: center !important;
    }
    .faith {
        display: flex;
        justify-content: center !important;
    }
    .faith-content-box > h4 {
        font-size: 17px;
    }
    .mt-80{
        margin-top: 20px;
    }
}